*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  color: #252525;
}

body{
  font-family:"Cormorant Garamond", serif;
  background: #FFFF;
background: linear-gradient(166deg, rgba(255, 255, 255, 1) 20%, rgba(168, 245, 200, 1) 50%, rgba(76, 207, 127, 1) 100%);
min-height: 100vh;

}

/* nav tipography */
header{
  padding: 1em;
    display: flex;
    align-items: center;
    
    
    }

header h2{
  margin-left:0.3em;
  padding-bottom: 0.3em;
}

header h2,
header h1{
  padding-left: 0.7em;
}
header h1{
  font-size:1em;
  font-family:"Great Vibes", cursive;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo{
  display: flex;
  align-items: center;
}

header h2{
  font-size: 0.5rem;
}


header img{
  width: 15%;
}
/* main section tipography */
main h2{
  font-size: 1.5rem;
}

main p{
  font-size: 0.75rem;
  
}

form div{
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  margin: 2em auto;
}


form div input{
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  border-radius: 30px;
  height: 20px;
  
}

/* button styling */

button{
  padding: 0.3rem;  
  width: 100%;
  max-width: 480px;
  background-color: #99D930;
  color: #FFF;
  border-radius: 30px;
  height: 20%;
}


