*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  color: #252525;
}

body{
  font-family:"Cormorant Garamond", serif;
  background: #FFFF;
background: linear-gradient(166deg, rgba(255, 255, 255, 1) 20%, rgba(168, 245, 200, 1) 50%, rgba(76, 207, 127, 1) 100%);
min-height: 100vh;

}

/* nav tipography */
header{
  padding: 1em;
    display: flex;
    align-items: center;
    
    
    }

header h2{
  margin-left:0.3em;
  padding-bottom: 0.3em;
}

header h2,
header h1{
  padding-left: 0.7em;
}
header h1{
  font-size:1em;
  font-family:"Great Vibes", cursive;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo{
  display: flex;
  align-items: center;
}

header h2{
  font-size: 0.5rem;
}


header img{
  width: 15%;
}
/* main section tipography */
main h2{
  text-align: center;
  font-size: 1.5rem;
}
main{
  max-width: 480px;
  width: 100%;
}
main p{
  text-align: center;
  font-size: 1rem;
  
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  
  justify-content: space-between;
  
}


form input{
  display: flex;
  border: 0.2px linear black;
  width: 80%;
  align-items: center;
  padding: 0 1rem;
  border-radius: 30px;
  height: 50px;
  line-height: 50px;
  
  
}

/* footer typograpy */

.footer-nav{
  max-width: 480px;
  width: 100%;
}
.footer-nav ul,
.footer-nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav ul li{
  text-align: center;
  font-size: 1rem;
  border-radius: 30px;
  background-color: rgba(76, 207, 127, 1);
  color: #FFF;
  border-radius: 30px;
  height: 45px;
  width: 100%;
}

.footer-nav ul li a{
  color: #FFF;
  text-decoration: none;
}


/* button styling */

button{
  padding: 0.3rem; 
  border: none; 
  width: 100%;
  background-color: rgba(76, 207, 127, 1);
  color: #FFF;
  border-radius: 30px;
  height: 55px;
}


#save-progression-btn{
  margin-top: 2em;
}

#close-session-btn{
  display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
}

/* transitions and animations */
button:hover,
button:active,
.footer-nav ul li:hover,
.footer-nav ul li:active{
  transition: 0.3s;
}


button:hover,
button:active,
.footer-nav ul li:hover,
.footer-nav ul li:active{
  border: 1px solid #FFF;

}