*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Cormorant Garamond", serif;;
}

/* nav tipography */
header{
  padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFF;
background: linear-gradient(103deg, rgba(255, 255, 255, 1) 20%, rgba(168, 245, 200, 1) 50%, rgba(76, 207, 127, 1) 100%);
}

header h2{
  margin-left:0.3em;
  padding-bottom: 0.3em;
}

header h2,
header h1{
  padding-left: 0.7em;
}
header h1{
  font-size:1em;
  font-family:"Great Vibes", cursive;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo{
  display: flex;
  align-items: center;
}

header h2{
  font-size: 0.5em;
}
header li,
header li a{
  font-size:0.3em;
  font-weight: 600;
}

header img{
  width: 15%;
}